Source: fso-deviced
Section: misc
Priority: extra
Maintainer: Debian FreeSmartphone.Org Team <pkg-fso-maint@lists.alioth.debian.org>
Uploaders: Joachim Breitner <nomeata@debian.org>, Luca Capello <luca@pca.it>, Heiko Stuebner <heiko@sntech.de>
Build-Depends: debhelper (>= 7), cdbs, autotools-dev, libglib2.0-dev, libdbus-1-dev, libdbus-glib-1-dev, valac (>= 0.7.8), libgee-dev (>= 0.3.0), libvala-dev, libfso-glib-dev (>= 0.2.1+git20091114), libfsoframework-dev, libcanberra-dev (>= 0.12), pkg-config
Standards-Version: 3.8.3
Homepage: http://freesmartphone.org/
Vcs-Git: git://git.debian.org/git/pkg-fso/fso-deviced.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/fso-deviced.git;a=summary

Package: fso-deviced
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: freesmartphone.org device daemon
 This daemon implements the freesmartphone.org Device API
 .
 This package is part of the freesmartphone.org software stack
 and is targeted for smartphones.
