Source: fso-deviced
Section: misc
Priority: extra
Maintainer: Debian FreeSmartphone.Org Team <pkg-fso-maint@lists.alioth.debian.org>
Uploaders: Heiko Stuebner <heiko@sntech.de>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7), cdbs, autotools-dev, libglib2.0-dev, libdbus-1-dev, libdbus-glib-1-dev, valac (>= 0.7.9), libvala-dev (>= 0.7.9), libgee-dev (>= 0.5.0), libfso-glib-dev (>= 0.2.1+git20100102), libfsoframework-dev (>= 0.2.4+git20091229), libfsoresource-dev, libcanberra-dev (>= 0.12), pkg-config, libgstreamer0.10-dev, linux-libc-dev
Standards-Version: 3.8.3
Homepage: http://freesmartphone.org/
Vcs-Git: git://git.debian.org/git/pkg-fso/fso-deviced.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/fso-deviced.git;a=summary

Package: fso-deviced
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: freesmartphone.org device daemon
 This daemon implements the freesmartphone.org Device API
 .
 This package is part of the freesmartphone.org software stack
 and is targeted for smartphones.
